In [1]:
import pandas as pd
import numpy as np

In [24]:
data=pd.read_csv('Ml Dataset.csv')
data

            Area    Furnished Property Type  Sq.ft  BHK   Rent
0     Gachibowli        Fully     Apartment   1340    2  45000
1     Gachibowli         Semi     Apartment   1500    2  25000
2   JubileeHills         Semi     Apartment    450    2  10000
3   JubileeHills        Fully     Apartment   1300    2  40000
4       Ameerpet         Semi     Apartment   1000    2  18000
5       Ameerpet        Fully     Apartment   1033    2  25000
6       Ameerpet         Semi   Independent   1800    2  20000
7     Panjagutta  Unfurnished   Independent   1000    2  20000
8       Ameerpet         Semi   Independent   1200    2  22000
9           Koti  Unfurnished   Independent   1700    2  14000
10          Koti         Semi     Apartment    780    2  14500
11    Yousufguda  Unfurnished     Apartment   1800    2  35000
12         Abids         Semi     Apartment    900    2  14000
13  Sultan Bazar         Semi     Apartment   1200    2  23000
14   Ramanthapur         Semi     Apartment   1100    2  14000
15   Ramanthapur        Fully     Apartment    858    2  10000
16   Ramanthapur        Fully   Independent    400    2  15000
17   Ramanthapur         Semi   Independent   2000    2  20000
18         Uppal  Unfurnished   Independent   1000    2  12000

In [28]:
#using one hot encoder
one_hot_encoded_data = pd.get_dummies(data, columns = ['Area','Furnished','Property Type'])
df1=one_hot_encoded_data.astype(int)
df1

,Sq.ft,BHK,Rent,Area_Abids,Area_Ameerpet,Area_Gachibowli,Area_JubileeHills,Area_Koti,Area_Panjagutta,Area_Ramanthapur,Area_Sultan Bazar,Area_Uppal,Area_Yousufguda,Furnished_Fully,Furnished_Semi,Furnished_Unfurnished,Property Type_Apartment,Property Type_Independent
0,1340,2,45000,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,1500,2,25000,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0
2,450,2,10000,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
3,1300,2,40000,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
4,1000,2,18000,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
5,1033,2,25000,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0
6,1800,2,20000,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
7,1000,2,20000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
8,1200,2,22000,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
9,1700,2,14000,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1
10,780,2,14500,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
11,1800,2,35000,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0
12,900,2,14000,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0
13,1200,2,23000,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
14,1100,2,14000,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0
15,858,2,10000,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
16,400,2,15000,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
17,2000,2,20000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1
18,1000,2,12000,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1

In [29]:
df1.drop(['Property Type_Independent'],axis=1,inplace=True)
df1

,Sq.ft,BHK,Rent,Area_Abids,Area_Ameerpet,Area_Gachibowli,Area_JubileeHills,Area_Koti,Area_Panjagutta,Area_Ramanthapur,Area_Sultan Bazar,Area_Uppal,Area_Yousufguda,Furnished_Fully,Furnished_Semi,Furnished_Unfurnished,Property Type_Apartment
0,1340,2,45000,0,0,1,0,0,0,0,0,0,0,1,0,0,1
1,1500,2,25000,0,0,1,0,0,0,0,0,0,0,0,1,0,1
2,450,2,10000,0,0,0,1,0,0,0,0,0,0,0,1,0,1
3,1300,2,40000,0,0,0,1,0,0,0,0,0,0,1,0,0,1
4,1000,2,18000,0,1,0,0,0,0,0,0,0,0,0,1,0,1
5,1033,2,25000,0,1,0,0,0,0,0,0,0,0,1,0,0,1
6,1800,2,20000,0,1,0,0,0,0,0,0,0,0,0,1,0,0
7,1000,2,20000,0,0,0,0,0,1,0,0,0,0,0,0,1,0
8,1200,2,22000,0,1,0,0,0,0,0,0,0,0,0,1,0,0
9,1700,2,14000,0,0,0,0,1,0,0,0,0,0,0,0,1,0
10,780,2,14500,0,0,0,0,1,0,0,0,0,0,0,1,0,1
11,1800,2,35000,0,0,0,0,0,0,0,0,0,1,0,0,1,1
12,900,2,14000,1,0,0,0,0,0,0,0,0,0,0,1,0,1
13,1200,2,23000,0,0,0,0,0,0,0,1,0,0,0,1,0,1
14,1100,2,14000,0,0,0,0,0,0,1,0,0,0,0,1,0,1
15,858,2,10000,0,0,0,0,0,0,1,0,0,0,1,0,0,1
16,400,2,15000,0,0,0,0,0,0,1,0,0,0,1,0,0,0
17,2000,2,20000,0,0,0,0,0,0,1,0,0,0,0,1,0,0
18,1000,2,12000,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [90]:
#for getting the column index
def get_column_index(df, column_name):
    if column_name in df.columns:
        return list(df.columns).index(column_name)
    else:
        return None

In [102]:
#creating a list to give it to the model for prediction
print(df1.shape[1])
lisa=[0]*15

16

In [127]:
lisa=[0]*15
#taking sft input from user
sft=int(input())
s=input()
#taking area input from user
s1="Area_"+s
index_area=get_column_index(df1,s1)
#taking furniture_type input from user
s=input()
s2="Furnished_"+s
index_furniture=get_column_index(df1,s2)
print(index_furniture)
#taking property_type input from user
s=input()
s2="Property Type_"+s
index_property=get_column_index(df1,s2)
print(index_property)

1000
Abids
Semi
12
Apartment
14

In [128]:
#assigning thoses values to the list at particular indexes
lisa[0]=sft
lisa[index_area]=1
lisa[index_furniture]=1
print("flag is 0 for independent else flag is 1 for apartment")
flag=int(input())
lisa[index_property]=flag
print(lisa)

flag is 0 for independent else flag is 1 for apartment
1
[1000, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1]

In [129]:
cols = list(df1.columns)

# Remove the column name from this list
cols.remove('Rent')

# Append it back to the end
cols.append('Rent')
df1 = df1[cols]
df1

,Sq.ft,Area_Abids,Area_Ameerpet,Area_Gachibowli,Area_JubileeHills,Area_Koti,Area_Panjagutta,Area_Ramanthapur,Area_Sultan Bazar,Area_Uppal,Area_Yousufguda,Furnished_Fully,Furnished_Semi,Furnished_Unfurnished,Property Type_Apartment,Rent
0,1340,0,0,1,0,0,0,0,0,0,0,1,0,0,1,45000
1,1500,0,0,1,0,0,0,0,0,0,0,0,1,0,1,25000
2,450,0,0,0,1,0,0,0,0,0,0,0,1,0,1,10000
3,1300,0,0,0,1,0,0,0,0,0,0,1,0,0,1,40000
4,1000,0,1,0,0,0,0,0,0,0,0,0,1,0,1,18000
5,1033,0,1,0,0,0,0,0,0,0,0,1,0,0,1,25000
6,1800,0,1,0,0,0,0,0,0,0,0,0,1,0,0,20000
7,1000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,20000
8,1200,0,1,0,0,0,0,0,0,0,0,0,1,0,0,22000
9,1700,0,0,0,0,1,0,0,0,0,0,0,0,1,0,14000
10,780,0,0,0,0,1,0,0,0,0,0,0,1,0,1,14500
11,1800,0,0,0,0,0,0,0,0,0,1,0,0,1,1,35000
12,900,1,0,0,0,0,0,0,0,0,0,0,1,0,1,14000
13,1200,0,0,0,0,0,0,0,1,0,0,0,1,0,1,23000
14,1100,0,0,0,0,0,0,1,0,0,0,0,1,0,1,14000
15,858,0,0,0,0,0,0,1,0,0,0,1,0,0,1,10000
16,400,0,0,0,0,0,0,1,0,0,0,1,0,0,0,15000
17,2000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,20000
18,1000,0,0,0,0,0,0,0,0,1,0,0,0,1,0,12000

In [130]:
#intializing independent and dependent features
X=df1.iloc[:,:-1]
print(len(lisa))
y=df1.iloc[:,-1]
print(X.shape)

15
(19, 15)

In [136]:
#using linear regression model
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(X,y)

LinearRegression()

In [137]:
#predicting the rent price for given input by the user
reg.predict([lisa])

C:\Users\Rajesh\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15168.05392422])